body{
   
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;

}
#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}
#banner{
    background-color: #eee;
    margin: 3%;
    padding: 30px;
    text-align: center;
}
#book-list{
    background-color: white;
}
ul{
    float: center;
}
#book-adder{
    background-color: white;
    
}